<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <h1>Sign up</h1>
    </ul>
  </nav>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <section class="content">
    <form method="post">
      {{ form.csrf_token }}
      <label for="username">Username</label>
      {{ form.username(id='username') }}
      <label for="password">Password</label>
      {{ form.password(id='password') }}
      {{ form.submit() }}
    </form>
  </section>  
</body>
</html>


